:root {
    /* === Colors === */
    --dark-gray: #0D1117;
    --gray: #D9EDF3;
    --muted-gray: #858992;
    --blue: #2F81F7;
    --light-blue: #88b8fb;
    --white: #fff;

    /* === Transition === */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --tran-08: all 0.8s ease;
    --tran-1: all 1s ease;
    --tran-3: all 3s ease;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: var(--dark-gray);
}

body {
    color: var(--gray);
    font-size: 1.6rem;
    max-width: 80rem;
    /* background-color: #2F81F7; */
    margin: 0 auto;
}

.app_title {
    margin-top: 2rem;
}
.app_title:hover {
    color: var(--blue);
}

a {
    text-decoration: none;
    color: var(--gray);
}

a:visited {
    color: var(--gray);
}
